<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isorg.magicpadexplorer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="13" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".MagicPadExplorerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name=".DeviceListActivity"
            android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
        
        <activity android:name=".application.ConnexionTest"
			android:label="@string/app_name">
        </activity>
                
        <activity android:name=".application.SmartSwitchApplication"
			android:label="@string/app_name">
        </activity>
        
        <activity android:name=".application.VumeterApplication"
            android:label="@string/app_name">
        </activity>
        
        <activity android:name=".application.TwistApplication"
            android:label="@string/app_name">
        </activity>
        
        <activity android:name=".application.PhotosBrowserApplication"
            android:label="@string/app_name">
        </activity>
        
        <activity android:name="com.android.lemon.LemonViewerActivity"
            android:label="@string/app_name">
        </activity>

    </application>

</manifest>